include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include mjop *.css *.csv *.html *.ico *.js *.json *.md *.png *.py *.svg *.txt
recursive-exclude mjop *.pyc
